* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "KaijuKingz";
  src: URL("./assets/download.ttf") format("truetype");
}

h2 {
  font-family: "KaijuKingz";
  letter-spacing: 0.1rem;
  color: rgb(237, 56, 35);
  margin-bottom: 1rem;
  font-size: 2rem;
}

h3 {
  font-family: "KaijuKingz";
  letter-spacing: 0.1rem;
  text-align: center;
  color: rgb(237, 56, 35);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.h-center {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

nav {
  background-color: #1a1723;
  position: sticky;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0.75rem 2rem;
}

.nav-left {
  width: 11rem;
}

.nav-center a {
  margin: 0 2rem;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}

.btn-connect {
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: rgb(238, 57, 34);
  border: 1.75px solid rgb(238, 57, 34);
  margin-left: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, transparent 60%, #000),
    url("./assets/Kaiju-header.gif") center/cover no-repeat;
  display: grid;
  place-items: center;
}

.header-info {
  text-align: center;
  max-width: 1360px;
  width: 50%;
}

.header-info-text {
  color: rgb(227, 227, 227);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.arrow {
  height: 3rem;
  width: 2.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  animation: arrow 2.5s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Mint section */

.mint {
  display: grid;
  place-items: center;
  height: 75vh;
  background-color: rgb(0, 0, 0);
}

.mint-container {
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.mint-info {
  width: 100%;
  height: 100%;
  position: relative;
}

.mint-text {
  font-size: 4rem;
  color: rgb(72, 74, 119);
  font-family: "KaijuKingz";
  position: absolute;
  top: 44%;
  right: 8%;
}

.about {
  background: linear-gradient(180deg, transparent 60%, #000),
    linear-gradient(0deg, transparent 60%, #000),
    url("./assets/about.gif") center/cover no-repeat;
  height: 100vh;
  display: grid;
  place-items: center;
}

.about-container {
  width: 80%;
  max-width: 1360px;
  height: 50%;
  max-height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.about-left {
  max-width: 550px;
}

.about-left p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem;
  margin-top: 1rem;
}

.about-right img {
  margin-top: 2rem;
  max-width: 500px;
  max-height: 500px;
}

/* Utility */

.utility {
  background-color: rgb(0, 0, 0);
}

.utility-container {
  width: 90vw;
  max-width: 1360px;
  margin: 0 auto;
}

.utility-headings {
  text-align: center;
  margin-bottom: 3rem;
}

.utility-headings img {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.utility-headings p {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: "KaijuKingz";
}

.utility-headings span {
  color: rgb(237, 56, 35);
}

.utility-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
}

.utility-info-left p {
  color: white;
  font-size: 0.8rem;
  max-width: 960px;
}

.utility-info-right p {
  color: white;
  font-size: 0.8rem;
  max-width: 960px;
}

.utility-breeding img {
  width: 55%;
  margin: 0 auto;
  margin-top: 3rem;
}

.utility-community h3 {
  margin-top: 2rem;
}

.utility-community ul {
  color: white;
  text-align: center;
  list-style-type: none;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 2rem;
  font-size: 0.8rem;
}

/* ultility - roadmap */

.roadmap-launch {
  margin-top: 1rem;
}

.roadmap-container {
  width: 60%;
  max-width: 1360px;
  margin: 0 auto;
  border-left: 3px solid #ed3823;
  padding-left: 3rem;
}

.roadmap-1 p {
  color: white;
  text-align: left;
}
